/*base.css*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #102531;
    font-family: 'Open Sans',Arial,sans-serif;
}

code {
  font-family: Consolas;
}

summary {
  font-size: 2em;
  cursor: pointer;
  background-color: #e2d3d9;
}

textarea {
  margin: 0.5em;
  font-size: 1.1em;
}




button:not([disabled]), label {
  cursor: pointer;
}



.error {
  color: #cc2211;
}



a.disabled, [hidden], template {
  display: none;
}


.titleversion {
  font-size : 0.5em;
}
