/*fileinput.css*/
file-input {
  display: block;
  border: 1px solid black;
}

progress {
  width: 100%;
}

input[type=checkbox], input[type=radiobutton] {
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
}